body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

h1 {
  color: #333;
}

h2 {
  color: #444;
}

p {
  color: #666;
}

img {
  max-width: 100%;
  border: 2px solid #555;
  border-radius: 10px;
  margin: 10px;
}
